window {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

linkset {
  display: none;
}

.separator {
  border-top: var(--material-border);
}

translator-plugin-panel {
  width: 100%;
  --details-height: auto;
}

#panel-container {
  flex-grow: 1;
}

#extra-buttons button {
  flex: 1;
}

#extra-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

#extra-container:empty {
  display: none;
}

#extra-container editable-text {
  min-height: 60px;
}
